#all{
    
}
#top{
    background-color:gray;
    width:100%;
    padding:5px;
    text-align:center;
}

#red1{
    
}

#red2{
    
}

#blue1{
    
}

#blue2{
    
}

#red1score{
    padding:10px;
    width:50%;
}  

#red2score{
    
}

#blue1score{
    
}

#blue2score{
    
}

.scores{
    
}

#auto{
    background-color:red;
    border: 50px;
    border-color:blue;
    padding:10px 10px;
    display: inline-block;
    width: 150px;
    height: 200px;
    color: white;
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
}
#tele{
    background-color:purple;
    border: 50px;
    border-color:blue;
    padding:10px 10px;
    display: inline-block;
    width: 150px;
    height: 200px;
    color: white;
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
}

#end{
    background-color:blue;
    border: 50px;
    border-color:blue;
    padding:10px 10px;
    display: inline-block;
    width: 150px;
    height: 200px;
    color: white;
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
}

table, td {
    border: 1px solid black;
}

.table{
    clear:left;
}

.button-On {
    background-color: #00FF00;
    border: 5px;
    color: blue;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button-Off{
    background-color: #4CAF50; 
    border: 5px;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
            
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
